* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

h4, h5, p {
    font-size: 12px;
    margin-bottom: 5px;
}

.container {
    width: 900px;
    margin: auto;
    border: 1px solid black;
}

/*CABECERA*/
.header {
    width: 100%;
    height: 80px;   
    background: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.button {
    width: 150px;
    height: 40px;
    border-radius:5px;
    background: salmon;
}

.button:hover {
    cursor: pointer;
    background:blue;
    color: white;
}


/*CONTENIDO PRINCIPAL*/
.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
    padding-top: 20px;
    background: rgb(212, 172, 97);
}

/*CONTENEDOR DEL CARD*/
.card {
    position: relative;
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background: white;
}


.card:hover .button-card {
    visibility: visible;
}

.buttons-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.button-card {
    width: 40px;
    height: 20px;
    font-size: 10px;
    background: white;
    border: none;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-card:hover {
    cursor: pointer;
}

.img-button {
    width: 12px;
    height: 12px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

/*MODAL EDITAR*/
.modal-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.452);
    position: fixed;
    z-index: 10;
    overflow: auto;
    left: 0;
    top: 0;
    display: none;
}

.modal-edit {
    width: 600px;
    height: 500px;
    padding: 20px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.header-modal {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input, select {
    width: 270px;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
}

.buttons-modal {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.close-modal {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
}

.close-modal:hover {
    cursor: pointer;
    background: skyblue;
    border-radius: 5px;
}

/*MOSTRAR Y OCULTAR*/
.mostrar {
    display: flex;
}

.ocultar {
    display: none;
}